.divForm {
    background-color: #f9f6ee;
    min-height: 300px;
    min-width: 300px;
}

.label {
    padding: 6px;
    font-size: 18px;
    margin-bottom: 4px;
}

.card {
    box-shadow: 4px 8px 10px 4px rgba(100, 100, 100, 2.2);
}

.btn-primary {
    background-color: #5d4c3f;
    border-color: #d1b493;
}

.btn-primary:hover {
    background-color: #e0c2a2;
    border-color: #f7d1ab;
}