@font-face {
    font-family: 'TT Commons Regular';
    src: url(../fonts/TT\ Commons\ Regular.otf);
    font-family: 'The Seasons';
    src: url(../fonts/Fontspring-DEMO-theseasons-reg.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'TT Commons Regular', Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background: -webkit-linear-gradient(225deg, #b3aba2, #dcd9d5);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    z-index: 1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
}

.divMae {
    position: relative;
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.wave1 {
    animation: movewave1 3s ease-in-out infinite alternate;
}

@keyframes movewave1 {
    from {
        transform: translate(-2000px)
    }
}

.wave2 {
    animation: movewave2 3s 1.5s ease-in-out infinite alternate;
}

@keyframes movewave2 {
    from {
        transform: translate(-1800px)
    }
}

.wave3 {
    animation: movewave3 3s 0.9s ease-in-out infinite alternate;
}

@keyframes movewave3 {
    from {
        transform: translate(-1600px)
    }
}

.mt-2, .my-2 {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

h1 {
    margin-bottom: 0;
    color: #69443c;
}

.btn-aplicacao {
    width: 250px;
    height: 45px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ab9f92;
    transition: 0.4s;
}

/* CSS DE LOGIN.PHP */
.infoPageLogin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoPageLogin h6 {
    font-weight: 500;
    font-size: 19px;
    padding: 18px;
    margin-top: 15px;
    color: #69443c;
}

.mainLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 73px);
}

.mainLogin h1 {
    font-family: 'The Seasons';
    font-size: 80px;
    margin-bottom: 25px;
    padding: 18px;
    color: #69443c;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log {
    margin-bottom: 2px;
    padding: 8px;
}

.log input::placeholder {
    color: #69443c;
}

.password {
    margin-bottom: 35px;
    padding: 8px;
}

.password input::placeholder {
    color: #69443c;
}

.login-form h4 {
    margin-bottom: 50px;
    font-weight: 300;
    height: 30px;
    color: #69443c;
}

.btn-aplicacao:hover {
    background-color: #ab9f92;
    border-color: #c0b5a9;
}
/* FECHAMENTO LOGIN.PHP */


/* CSS DE INDEX.PHP */
.table-container {
    max-height: 600px;
    overflow-y: auto;
    box-shadow: 4px 8px 10px 4px rgba(100, 100, 100, 2.2);
}

.table {
    background-color: #f9f6ee;
}

.table td {
    vertical-align: sub;
}

.table td a i {
    color: #69443c;
    height: 22px;
    width: 22px;
}

.thIndex {
    color: white;
    font-size: 22px;
    background-color: #5d4c3f;
}

.divCenter {
    margin-top: 9px;
}
/* FECHAMENTO INDEX.PHP */


/* CSS DE EDICAO.PHP */
.row {
    margin-right: 0;
    margin-left: 0;
}

.rowFormEdicao {
    margin-top: 32px;
    margin-bottom: 18px;
}

.cardEdicao {
    box-shadow: 4px 8px 10px 4px rgba(100, 100, 100, 2.2);
    background-color: #fff;
}

.card-bodyEdicao {
    padding: 17px;
}

.divFormEdicao {
    background-color: #f9f6ee;
    max-height: 460px;
    min-width: 250px;
}

.form-group {
    max-height: 300px;
    margin-bottom: 0;
    margin-top: 2px;
    padding: 8px;
}

.form-group input {
    margin-left: 0;
}

.label {
    font-size: 18px;
    padding: 2px;
    margin-bottom: 4px;
    color: #69443c;
    font-weight: 500;
}
/* FECHAMENTO EDICAO.PHP */


/* CSS DE CADASTRO.PHP */
.rowFormCadastro {
    margin-top: 32px;
    margin-bottom: 18px;
}

.divFormCadastro {
    background-color: #f9f6ee;
    max-height: 460px;
    min-width: 250px;
}
/* FECHAMENTO CADASTRO.PHP */


/* CSS DE INDEX.PHP (COMPROVANTES) */
.card {
    box-shadow: 4px 8px 10px 4px rgba(100, 100, 100, 2.2);
}

.card a {
    text-decoration: none;
    background-color: #e0d8cc;
    color: #333;
}

.card a:hover {
    background-color: #dcd9d5;
}

.card-body {
    padding: 12px;
    text-align: center;
}

.card-footer a i {
    color: #69443c;
    height: 22px;
    width: 22px;
}
/* FECHAMENTO INDEX.PHP (COMPROVANTES) */


/* CSS DE CADASTRO (COMPROVANTES) */
.rowFormComprovante {
    margin-top: 32px;
    margin-bottom: 18px;
}

.card-color {
    background-color: #f9f6ee;
}

.group-button {
    margin-top: 32px;
}

.btn-upload {
    height: 45px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ab9f92;
    transition: 0.4s;
}

.btn-upload:hover {
    background-color: #ab9f92;
    border-color: #c0b5a9;
}
/* FECHAMENTO CADASTRO (COMPROVANTES) */