@font-face {
    font-family: 'TT Commons Regular';
    src: url(../fonts/TT\ Commons\ Regular.otf);
}

html {
    height: 100vh;
    width: 100%;
}

body {
    background: linear-gradient(45deg, #c3a384, #d1b493, #e0c2a2);
    font-family: 'TT Commons Regular';
}

h1 {
    color: #5d4c3f;
}

.th {
    color: white;
    font-size: 22px;
    background-color: #5d4c3f;
}

.table-container {
    max-height: 600px;
    overflow-y: auto;
    box-shadow: 4px 8px 10px 4px rgba(100, 100, 100, 2.2);
}

.table {
    background-color: #f9f6ee;
}

.button p {
    margin-bottom: 0;
    padding: 6px;
}

.divCenter {
    margin-top: 9px;
}